<header id="header">
    <div class="header__wrap">
        <a href="/" class="header__logo">
            <img src="/img/svg/logo-plane.svg" alt="plane" class="header__logo-pic">
            <div class="header__logo-text">
                <h4 class="header__logo-name">
                    JetSet Journey
                </h4>
                <p class="header__logo-slogan">
                    Where Dreams Take Flight
                </p>
            </div>
        </a>
        <nav class="header__nav">
            <a href="/" class="header__link">Головна</a>
            <a href="/faq" class="header__link">FAQ</a>
            <a href="/contact-us" class="header__link">Зворотній зв'язок</a>
            <a href="/booking" class="header__link">Квитки</a>
            <a href="/authentication" class="header__link">Аккаунт</a>
        </nav>
        <div id="vertical-line"></div>
        <a href="/tours" class="header__travel">Спланувати подорож</a>
        <span class="header__menu">
            <div class="menu__line"></div>
            <div class="menu__line"></div>
            <div class="menu__line"></div>
        </span>
    </div>
    <nav class="header__nav-adaptive">
        <a href="/" class="header__link">Головна</a>
        <a href="/faq" class="header__link">FAQ</a>
        <a href="/contact-us" class="header__link">Зворотній зв'язок</a>
        <a href="/booking" class="header__link">Квитки</a>
        <a href="/authentication" class="header__link">Аккаунт</a>
        <a href="/tours" class="header__travel-adaptive">Тури</a>
    </nav>
</header>